@use './globals/' as *;


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------------------------------- */

* {

    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: $bg-color;
}

.ion-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

/* TEMPLATE PAGE FOR AUTH */
.app-container {
    display: flex;
    width: 100%;

    .nav__sidebar {
        background-color: $side-search-color;
        flex-basis: 300px;
        display: flex;
        flex-direction: column;

        &__nav-img {
            padding: 2.5em 2em;
        }

        &__items {
            ul {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }

            li {
                padding: 1em 2em;
                list-style-type: none;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    gap: 1em;
                    color: $font-color;
                }
            }

            .active {
                background-color: $btn-color;
            }
        }
    }
}

.app-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 5em;
    gap: 2.5em;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $font-color;

        &__title {
            a.btn {
                text-decoration: none;
                cursor: pointer;
                color: $font-color;
                font-weight: 600;
                font-size: 1em;
                background-color: $btn-color;
                padding: 1em 3em;
                border-radius: 7px;
                border: none;
                outline: none;
                transition: transform 0.25s ease-in-out;

                &:hover {
                    transform: scale(0.97);
                }
            }
        }

        &__search {
            position: relative;
            input {
                color:$font-color;
                padding: 1.5em;
                width: 419px;
                height: 50px;
                position: relative;
                background-color: $side-search-color;
                outline: none;
                border: none;
                border-radius: 0.5em;
            }

            input::placeholder {
                font-size: 1.1em;
            }

            span {
                cursor: pointer;
                position: absolute;
                padding: 1em;
                background-color: $bg-color;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                top: 5px;
                right: 1%;

                .ion-icon {
                    position: absolute;
                    inset: 7px 7px auto auto;
                }
            }
        }

        &__nav-user {
            display: flex;
            flex-direction: row;
            gap: 2.5em;
            // position:relative;

            &__notifications {
                display: flex;
                gap: 1.5em;
            }

            &__profile {
                &__dropdown {
                    margin-top: 1em;
                    position: absolute;
                    z-index: 1;
                    right: 2%;
                    background-color: $card-color;
                    box-shadow: 5px 5px 10px 3px rgba($side-search-color, 0.5);
                    border-radius: 5px;
                    border: 1px solid rgba($font-color, 0.2);

                    ul {
                        display: flex;
                        flex-direction: column;
                        // justify-content: flex-start;
                        padding: 1em;
                        gap: 1em;

                        a {
                            text-decoration: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5em;
                            color: $font-color;

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        #logout {
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    .hidden {
        display: none;
    }

    /* PRODUCTS PAGE */

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5em;
        justify-items: stretch;
        #opacity {
            background: $red;
        }
        .card {
            color: $font-color;
            border-radius: 0.5em;
            background-color: $card-color;

            &__header {
                border-radius: 0.5em 0.5em 0 0;
                object-fit: cover;
                width: 100%;
                height: 125px;
            }

            &__body {
                padding: 1em;

                &__content {
                    display: flex;
                    flex-direction: column;
                    padding-top: 1em;
                    gap: 1em;

                    &__infos {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                    }

                    &__actions {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        border-top:1px dashed rgba($font-color, 0.3);
                        padding-top:1em;
                    }
                    #admin {
                        color:$btn-color;
                    }
                    #user {
                        color:#FFD154;
                    }
                }
            }
        }
    }
}

/* DASHBOARD PAGE */

.home {
    color: $bg-color;
    width: 100%;
    height: 267px;
    overflow: hidden;
    &__dashboard {
        height:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        img{
            width: 40%;
            align-self:flex-start;
        }
    }
    h1 {
        color: $bg-color;
    }
}

.rounded {
    border-radius: 1em;
}

.green {
    background: $btn-color;
}

.grid__dashboard {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-template-rows: 100px;
    grid-auto-rows: 150px;
    gap: 2em;
    padding-top: 1.5em;

    h2 {
        color: $font-color;
        grid-column: span 4;
        align-self: center;
    }

    &__normal {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em;

        &__infos {
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 1.2em;
            }
        }

        &__details {
            span {
                font-size: 2.5em;
                font-weight: 600;
            }
        }
    }

    &__tall {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-row: span 2;
        padding: 2em;

        &__infos {
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    #purple {
        background: #C89AFE;
    }

    #blue {
        background: #4FA2FF;
    }

    #yellow1 {
        background: #FFD154;
    }

    #salmon {
        background: #FBC797;
    }

    #yellow2 {
        background: #F8FD99;
    }
}

/* UPDATE PAGE */

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $font-color;
    border-radius: 1em;

    .btn-end {
        display: flex;
        justify-content: flex-end;
    }

    .wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0.5em 0;

        &__field {
            &__label {
                padding: 1em 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;
            }
            &__item {
                display: flex;
                flex-direction: column;
                span {
                    font-size: 0.875em;;
                    padding-top: 1em;
                    align-self: flex-end;
                }
            }
        }

        .radio {
            width: 380px;
        }

        input[type="text"],
        input[type="password"],
        input[type="number"] {
            outline: none;
            padding: 1em;
            color: $font-color;
            background-color: $bg-color;
            border: 1px solid rgba($font-color, 0.2);
            width: 380px;
            height: 45px;
            border-radius: 5px;
        }

        input[type="radio"] {
            cursor: pointer;
            width: 14px;
            height: 14px;
        }

        &__validate {
            cursor: pointer;
            color: $font-color;
            font-weight: 600;
            font-size: 1em;
            background-color: #e4e4e4c6;
            width: 120px;
            height: 45px;
            margin: 2em 0;
            border-radius: 7px;
            border: none;
            outline: none;
            text-transform: uppercase;
        }

        &__delete {
            cursor: pointer;
            width: 45px;
            height: 45px;
            background-color: $red;
            border: none;
            outline: none;
            border-radius: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* LOGIN PAGE */

.main-login {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .wrap-left {
        justify-self: center;
        align-self: center;
        width: 50%;

        h1 {
            color: $font-color;
        }

        .form-login {
            display: flex;
            flex-direction: column;
            padding-top: 2em;

            &__field {
                display: flex;
                flex-direction: column;
                margin: 1em 0;

                &__item {
                    padding: 1em 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1em;
                }

                &__forgotItem {
                    display: flex;
                    flex-direction: column;

                    a {
                        color: #3D63CC;
                        align-self: flex-end;
                    }

                    gap:0.5em
                }

                input {
                    outline: none;
                    padding: 1em;
                    color: $font-color;
                    background-color: $bg-color;
                    border: 1px solid rgba($font-color, 0.2);
                    border-radius: 5px;
                }
            }

            button {
                cursor: pointer;
                color: $font-color;
                font-weight: 600;
                font-size: 1em;
                background-color: $btn-color;
                height: 45px;
                margin: 1.5em 0;
                border-radius: 5px;
                border: none;
                outline: none;
            }

            a {
                color: #3D63CC;
            }
        }
    }

    .wrap-right {
        img {
            width: 80%;
            height: 100%;
            border-radius: 25px;
        }
    }
}